
#head
{
background-color: #607D8B;
height:calc(250px - 220px);
width: calc( 100vw - 220px );
padding: 110px ;
color:rgba(255,255,255,0.8);
font-size:70px;
bottom:0;
}

.tags{
  border:solid 1px rgba(0,0,0,0.7); padding:3px; display:inline-block; border-radius:3px; margin:2px 4px;
  text-decoration: none;
  color:rgba(0,0,0,0.98);
}
#header{
    font-family:Roboto;
    font-weight: bold;
    font-size: 40px;
margin:0px;
}
#subheader{

    font-family:Roboto Condensed;
    letter-spacing: 1px;

font-size:23px;
}
.circle
{
    position:absolute;
    top:150px;
    left:calc(75vw - 100px);
    border-radius: 100px;   
    background-color:#64B5F6;
height:200px;
width:200px;
}