.main-image{
	height:100vh;width:100vw; background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ),
    /* bottom, image */
    url(../images/main.png);
background-size:cover;
 background-attachment: fixed;
background-position:center;
   display: flex;
  align-items: center;
  justify-content: center;
}
input:focus{
	border:none;
}
.fun{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    position:fixed;
    width:100vw;
}

.fun>li {
    float: left;
    border-right:1px solid #bbb;
}

.fun>li:last-child {
    border-right: none;
}

.fun>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fun>li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}